:root {
  --color-bg: #1d2021;
  --color-fg: #d4be98;
  --color-link: #7daea3;
  --color-link-hover: #e78a4e;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('berries.jpg');
  background-color: #352e26; /* Anti-flashbang */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Fira Code", "Courier New", Courier, monospace;
}

article {
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 20px;
  border: 2px solid var(--color-fg);
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
