:root {
  --color-bg: #1d2021;
  --color-fg: #d4be98;
  --color-link: #7daea3;
  --color-link-hover: #e78a4e;
  --color-important: #ea6962;
}

/* Setting the stage */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("berries.jpg");
  background-color: #352e26; /* Anti-flashbang */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

main {
  display: grid;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;

  font-family: "Fira Code", "Courier New", Courier, monospace;
}

/* Now let's lay out all the grid elements, with different rules for different screens */

#greeting {
  grid-column: 1 / -1;
}

#tasks {
  grid-column: 1 / -1;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  #tasks {
    grid-column: 1 / -2;
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Universally applicable stuff */

article {
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 1.5rem;
  border: 2px solid var(--color-fg);
}

h1,
h2 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.414rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1.189rem;
  margin: 0;
  font-weight: 500;
}

a:link,
a:visited {
  font-size: 1.189rem;
  margin: 0;
  font-weight: 500;

  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

/*
Welcome to checkbox hell
https://moderncss.dev/pure-css-custom-checkbox-style/ was helpful here
*/

input[type="checkbox"] {
  appearance: none;
  background-color: var(--color-bg);
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-fg);

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Now for a bunch of random nits for different articles */

.important {
  color: var(--color-important);
}

#tasks-table {
  width: 100%;
}

.tasks-box {
  padding-top: 0;
  vertical-align: text-top;
}

.tasks-priority {
  text-align: center;
}

#bookmarks-links {
  width: 100%;
  table-layout: fixed;
}
